.mine{
    align-items: center;
    justify-content: center;
    display: flex;

}
.mainboard{
    width:900px;
    height:auto;    
    
}


.gridpractice{
    grid-template-columns: 166px 817px 97px;
    grid-template-rows: 336px 1248px 336px;
    
}



.title{
    position: absolute;
    left:450;
    top:2%;
}

.right{
    position:absolute;
    transform:scaleX(-1);
    right:200px;
}

.left{
    position:absolute;
    left:200px;
}


@font-face {
    font-family: garf;
    src: url(Garfields/Garf-Regular.otf);
}

div{font-family: garf;
}