
html {
  scroll-behavior: smooth;
}
@font-face {
    font-family: garf;
    src: url(Garfields/Garf-Regular.otf);
}

@font-face {
  font-family: meb;
  src: url(Garfields/MEB.ttf);
}

body {
  margin: 0;
  background: #ffffff;
  display: flex;
  min-height: 100vh;
  flex-direction: column; 
  font-family: garf;
}

/* OUTER WRAPPER */
.frame-wrapper {
  justify-content: center;
  align-items: center;

  position: relative;
  width: min(95vw, 1600px);
  aspect-ratio: 1900 / 1060;
  margin: 0 auto 2rem auto;
}

/* IMAGE LAYER */
.frame-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* GRID OVERLAY */
.main-frame {
  position: absolute;
  inset: 0;
  z-index: 1;

  display: grid;
  grid-template-columns: 332fr 1258fr 320fr;
  grid-template-rows: 166fr 817fr 97fr;


  /* NO padding, NO gap pushing inward */
}




/* PLACEMENT */
.top-left       { grid-column: 1; grid-row: 1; }
.top-center     { grid-column: 2; grid-row: 1; }
.top-right      { grid-column: 3; grid-row: 1; }

.left-bar       { grid-column: 1; grid-row: 2; }
.center-content { grid-column: 2; grid-row: 2; }

.right-bar      { grid-column: 3; grid-row: 2; }

.bottom-left    { grid-column: 1; grid-row: 3; }
.bottom-center  { grid-column: 2; grid-row: 3; }
.bottom-right   { grid-column: 3; grid-row: 3; }

.center-content {
  display: grid;
  place-items: center;
  overflow: hidden; 

}

.center-content img {
  max-width: 99%;
  max-height: 99%;
  object-fit: contain;
}

.resize img{
  padding-left: 250px;
  max-width: 49%;
}

.resize2 img{
  padding-left:250px;
  max-width: 75%;
}

.resize3 img{
  max-width: 49%;
  padding-left: 25%;
}

.resize4 img{
  max-width: 75%;
  padding-left: 20%;
}

.resize5 img{
  max-width: 60%;
  padding-left: 22%;
}

.top-center{
    display: grid;
    place-items: center;
    overflow: hidden;
}

.left-bar{
    display: grid;
    place-items: center;
    overflow: hidden;

}
.left-bar img{
    max-width: 15%;
    max-height: 15%;
    object-fit: contain;
}

.right-bar{
    display: grid;
    place-items: center;
    overflow: hidden;
}
.right-bar img{
    max-width: 15%;
    max-height: 15%;
    object-fit: contain;
}

.gallery{
 display:flex; 
 flex-wrap:wrap;
 justify-content:flex-start; 

}

.btwnimg{
  margin: 20px;
}
.galimg{
  width:100%;
  height:100%;
  object-fit:cover;
}

.clickimg{
  display:flex;
  background-color: transparent;
  border: none;
  cursor:pointer;
  width:200px;
  height:200px;


}


.gallery button:hover{
  filter: brightness(80%);
  transform:scale(1.02);
}

.gallery button{
  transition-duration: 0.3s;
}


.underneath{
  font-family: 'Times New Roman', Times, serif;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;

}

.timeline{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: fit-content;
}

.right{
    transform: scaleX(-1);
}

.top-center{
    line-height: 0.1px;
    font-size: 30px;
}
p,h1 {
  margin: 0px;
  padding: 0px;
}
h1.page-header {
  margin: 0px;
  padding: 0px;
}


.myText {
  font-family: meb;

}

.underneath p{
  font-size: 20px;
  padding-bottom: 5px;
}

.underneath h3{
  font-size: 25px;
  padding-top: 20px;
}

.footer {
  padding-top: 100px;
  place-items: center;

}